/* injected header and footer ************************************************/

#injected-header,
#injected-footer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
    line-height: 1;
}
.injected header {
    top: 0;
    left: 0;
}
.injected footer {
    bottom: 0;
    left: 0;
}
.injected header a,
.injected footer a {
    display: inline;
    color: var(--clr-title);
    text-decoration: none;
    transition: color .15s ease-in;
}
.injected header a:hover,
.injected footer a:hover {
    color: var(--clr-link);
}

.injected header nav {
    position: relative;
    margin-top: 1rem;
    top: 0;
    left: 0;
}
.injected footer nav {
    position: relative;    
    bottom: 0;
    left: 0;
}

.injected .separator {
    display: block;
    width: 111%;
    margin-left: -5.5%;
    max-width: 100vw;
    height: 0.125rem;
    background: var(--bg-code);
}

.injected a .nav-title,
.injected a .nav-author {
    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 10rem;
    
    /*
    display: inline-block;
    position: relative;
    float: left;
    text-align: left;
    text-decoration: none;
    padding-right: 6em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    */
}

.injected .nav-title {    
    letter-spacing: .075rem;
    font-weight: 500;
}

.injected .nav-toggle {
    display: none;
}
.injected .nav-button {
    display: none;
}
.injected .nav-list {
    overflow-y: hidden;
    display: block;	
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.injected .nav-item {
    position: relative;
    float: left;
    margin: 0;
}
.injected .nav-link {
    position: relative;
    float: right;
    margin-left: 2rem;
    margin-right: 0rem;
}

.injected .nav-toggle {    
    max-height: 0;
    visibility: hidden;
    overflow-y: hidden;
}

.injected header .separator {
    margin-top: 1rem;
    margin-bottom: 0;
}

.injected footer .separator {
    margin-bottom: 1rem;
    margin-top: 0;
}

.injected .menu-sep {    
    display: none;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.2s ease;
}

.injected footer {
    padding-bottom: 1rem;
}

/*
@media only screen and (max-width: 768px) {
    .injected footer {
	padding-bottom: 0;
    }
    
    .injected header .separator {
	margin-top: 0;
	margin-bottom:0;
    }
    .injected footer .separator {
	margin-bottom: 1rem;	
    }    

    .injected .nav-toggle {
	visibility: visible;
    }
    
    .injected .nav-toggle + label span::before {
	transition: all 0.2s ease-in;
    }
    .injected .nav-toggle:checked + label span::before {
	transform: translateX(0.04rem) translateY(-0.25rem) rotate(90deg);
	transition: all 0.2s ease;
    }

    .injected .menu-sep {    
	display: flex;
	max-height: 0rem;
    }    
    .injected .nav-toggle:checked + label + .menu-sep {
	display: block;
	position: relative;	
	max-height: 1rem;
	transition: max-height 0.2s ease;
    }

    .injected .nav-list {
	float: none !important;
	position: relative;
	display: block;
	padding-left: 0;
	padding-right: 0;
	z-index: 5;
	width: 100%;
	height: auto;
	max-height: 0;
	margin: 0;
	overflow-y: hidden;
	transition: max-height 0.2s ease;
    }
    .injected .nav-toggle:checked + label ~ .nav-list {
	display: block;
	max-height: 100rem;
	overflow-y: hidden;
    }
    .injected header .nav-toggle:checked + label ~ .nav-list {
	transition: max-height 0.2s ease;
    }

    .injected .nav-button {
	display: inline;
	position: relative;
	float: right;
	font-size: 1rem;
    }
    .injected .nav-button span::before {
	display: inline-block;
	content: '\2807';
	font-size: 2rem;
	transform: translateX(0.25rem) translateY(-0.5rem);
    }

    .injected header .nav-title,
    .injected footer .nav-author {
	display: inline;
	padding-top: 0;
	margin-bottom: 0;
    }

    .injected .nav-item {
	float: none !important;
	text-align: center !important;
    }
    .injected .nav-link {
	line-height: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	float: none !important;
    }

    .injected footer .separator.menu-sep {
	margin-bottom: -1rem;
    }

}
*/


.injected.compact footer {
    padding-bottom: 0;
}
    
.injected.compact header .separator {
    margin-top: 0;
    margin-bottom:0;
}
.injected.compact footer .separator {
	margin-bottom: 1rem;	
}    

.injected.compact .nav-toggle {
    visibility: visible;
}
    
.injected.compact .nav-toggle + label span::before {
    transition: all 0.2s ease-in;
}
.injected.compact .nav-toggle:checked + label span::before {
    transform: translateX(0.04rem) translateY(-0.25rem) rotate(90deg);
    transition: all 0.2s ease;
}

.injected.compact .menu-sep {    
    display: flex;
    max-height: 0rem;
}    
.injected.compact .nav-toggle:checked + label + .menu-sep {
    display: block;
    position: relative;	
    max-height: 1rem;
    transition: max-height 0.2s ease;
}

.injected.compact .nav-list {
    float: none !important;
    position: relative;
    display: block;
    padding-left: 0;
    padding-right: 0;
    z-index: 5;
    width: 100%;
    height: auto;
    max-height: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: max-height 0.2s ease;
}
.injected.compact .nav-toggle:checked + label ~ .nav-list {
    display: block;
    max-height: 100rem;
    overflow-y: hidden;
}
.injected.compact header .nav-toggle:checked + label ~ .nav-list {
    transition: max-height 0.2s ease;
}

.injected.compact .nav-button {
    display: inline;
    position: relative;
    float: right;
    font-size: 1rem;
}
.injected.compact .nav-button span::before {
    display: inline-block;
    content: '\2807';
    font-size: 2rem;
    transform: translateX(0.25rem) translateY(-0.5rem);
}

.injected.compact .nav-item {
    float: none !important;
    text-align: center !important;
}
.injected.compact .nav-link {
    line-height: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    float: none !important;
}

.injected.compact footer .separator.menu-sep {
    margin-bottom: -1rem;
}
